.main {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  gap: 3rem;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    .result {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      color: white;
      justify-content: center;
      align-items: center;

      @media (max-width: 992px) {
        flex-direction: column;
      }

      .res {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .win-record {
          background-color: rgb(41, 180, 41);
          width: 2rem;
          font-size: 1.125rem;
          height: 2rem;
          font-weight: bold;
          border-radius: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 1.5rem;
          }
        }

        .undefined-record {
          background-color: rgb(134, 134, 134);
          font-size: 1.125rem;
          font-weight: bold;
          border-radius: 0.25rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 1.5rem;
          }
        }

        .lose-record {
          background-color: rgb(221, 30, 30);
          font-size: 1.125rem;
          font-weight: bold;
          border-radius: 0.25rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 1.5rem;
          }
        }
      }

      .your-resut {
        display: flex;
        justify-content: start;
        transform: scaleX(-1);
        width: 50%;

        @media (max-width: 992px) {
          justify-content: center;
        }
      }

      .rival-resut {
        display: flex;
        justify-content: start;
        width: 50%;

        @media (max-width: 992px) {
          justify-content: center;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;

      .lose-record {
        background-color: rgb(221, 30, 30);
        padding: 0.25rem;
        font-weight: bold;
        border-radius: 0.25rem;
        width: 50%;
        display: flex;
        justify-content: center;

        span {
          color: white;
          font-size: 1.25rem;
        }

        @media (max-width: 992px) {
          width: 100%;
        }
      }

      .win-record {
        background-color: rgb(41, 180, 41);
        width: 50%;
        padding: 0.25rem;
        font-weight: bold;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;

        span {
          color: white;
          font-size: 1.25rem;
        }

        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}
