<div class="main pt-3">
  <div class="content">
    <div class="rival">
      <p-dropdown
        [options]="rivalList"
        [(ngModel)]="rival"
        [showClear]="true"
        emptyMessage="Brak przeciwników"
        placeholder="Wybierz przeciwnika"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <img
              [src]="
                rival.profileImg === undefined
                  ? '../../../../assets/images/profile.png'
                  : rival.profileImg
              "
              class="image"
            />
            <div>{{ rival.username }}</div>
          </div>
        </ng-template>
        <ng-template let-rival pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img
              [src]="
                rival.profileImg === undefined
                  ? '../../../../assets/images/profile.png'
                  : rival.profileImg
              "
              class="image"
            />
            <div>{{ rival.username }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="result">
      <div class="your-resut">
        <p-rating stars="3" [(ngModel)]="yourResult">
          <ng-template pTemplate="cancelicon">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="onicon">
            <img
              src="../../../assets/images/ping-pong-ball-active.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="officon">
            <img
              src="../../../assets/images/ping-pong-ball.png"
              width="25px"
              height="25px"
            />
          </ng-template>
        </p-rating>
      </div>
      <div class="res">
        <div [className]="getResultClass(this.yourResult, this.rivalResult)">
          <span [innerHTML]="yourResult ? yourResult : 0"></span>
        </div>
        <span>:</span>
        <div [className]="getResultClass(this.rivalResult, this.yourResult)">
          <span [innerHTML]="rivalResult ? rivalResult : 0"></span>
        </div>
      </div>
      <div class="rival-resut">
        <p-rating stars="3" [(ngModel)]="rivalResult">
          <ng-template pTemplate="cancelicon">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="onicon">
            <img
              src="../../../assets/images/ping-pong-ball-active.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="officon">
            <img
              src="../../../assets/images/ping-pong-ball.png"
              width="25px"
              height="25px"
            />
          </ng-template>
        </p-rating>
      </div>
    </div>

    <div class="preview">
      @if (yourResult === 3 && rivalResult !== 3) {
      <div class="win-record"><span>Zwycięstwo</span></div>
      } @else if (rivalResult === 3 && yourResult !== 3) {
      <div class="lose-record"><span>Porażka</span></div>
      } @else {
      <div></div>
      }
    </div>

    <div class="flex flex-column justify-content-center">
      <div class="flex justify-content-center align-items-center">
        <app-form-submit-btn
          title="Zapisz"
          (btnClicked)="save()"
        ></app-form-submit-btn>
      </div>
    </div>
  </div>
</div>
