<div class="main pt-3">
  <div class="content">
    <div class="rival">
      <p-dropdown
        [options]="rivalList"
        [(ngModel)]="rival"
        [showClear]="true"
        placeholder="Wybierz przeciwnika"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <img
              [src]="
                rival?.profileImg === undefined
                  ? '../../../../assets/images/profile.png'
                  : rival?.profileImg
              "
              style="width: 18px"
            />
            <div>{{ rival?.username }}</div>
          </div>
        </ng-template>
        <ng-template let-rival pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img
              [src]="
                rival.profileImg === undefined
                  ? '../../../../assets/images/profile.png'
                  : rival.profileImg
              "
              style="width: 18px"
            />
            <div>{{ rival.username }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="result">
      <div class="your-resut">
        <p-rating stars="3">
          <ng-template pTemplate="cancelicon">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="onicon">
            <img
              src="../../../assets/images/ping-pong-ball-active.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="officon">
            <img
              src="../../../assets/images/ping-pong-ball.png"
              width="25px"
              height="25px"
            />
          </ng-template>
        </p-rating>
      </div>
      <span>:</span>
      <div class="rival-resut">
        <p-rating stars="3">
          <ng-template pTemplate="cancelicon">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="onicon">
            <img
              src="../../../assets/images/ping-pong-ball-active.png"
              width="25px"
              height="25px"
            />
          </ng-template>
          <ng-template pTemplate="officon">
            <img
              src="../../../assets/images/ping-pong-ball.png"
              width="25px"
              height="25px"
            />
          </ng-template>
        </p-rating>
      </div>
    </div>

    <div class="preview">
      <!-- <div class="win-record"><span>Zwycięstwo</span></div> -->
      <div class="lose-record"><span>Porażka</span></div>
    </div>

    <div class="flex flex-column justify-content-center">
      <div class="flex justify-content-center align-items-center pt-5">
        <app-form-submit-btn
          title="Zapisz"
          (btnClicked)="save()"
        ></app-form-submit-btn>
      </div>
    </div>
  </div>
</div>
