<div class="menu">
  <div class="nav-header">
    <div class="flex flex-column justify-content-center">
      <div class="p-3 flex justify-content-center">
        <img
          width="100"
          [src]="
            authService.currentUser()?.profileImg === null
              ? '../../../assets/images/profile.png'
              : authService.currentUser()?.profileImg
          "
          alt="logo"
        />
      </div>
      <p class="username text-center">
        {{ authService.currentUser()?.username }}
      </p>
    </div>

    <div class="flex flex-column justify-content-center pb-3">
      <div class="flex justify-content-center align-items-center gap-1">
        <div class="win-record"><span>13</span></div>
        <div class="lose-record"><span>5</span></div>
      </div>
    </div>
  </div>

  <div class="flex flex-column flex-grow-1 justify-content-between">
    <div class="nav-main">
      <ul>
        <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          <i class="pi pi-home"></i>Dashboard
        </li>
        <li
          [routerLink]="['/historia-spotkań']"
          routerLinkActive="router-link-active"
        >
          <i class="pi pi-history"></i>Historia spotkań
        </li>
        <li><i class="pi pi-bell"></i>Powiadomienia</li>
      </ul>
    </div>

    <div class="nav-bottom">
      <ul>
        <li><i class="pi pi-cog"></i>Ustawienia</li>
        <li (click)="logout()"><i class="pi pi-sign-out"></i>Wyloguj się</li>
      </ul>
    </div>
  </div>
</div>
