<div class="menu">
  <div class="nav-header">
    <div class="flex flex-column justify-content-center">
      <div class="p-3 flex justify-content-center">
        <img
          [src]="
            authService.currentUser()?.profileImg === undefined
              ? '../../../assets/images/profile.png'
              : authService.currentUser()?.profileImg
          "
          alt="logo"
        />
      </div>
      <p class="username text-center d-none d-lg-block">
        {{ authService.currentUser()?.username }}
      </p>
    </div>

    <div class="flex flex-column justify-content-center pb-3">
      <div class="flex justify-content-center align-items-center gap-1">
        <div class="win-record">
          <span> {{ authService.currentUser()?.wins }} </span>
        </div>
        <div class="lose-record">
          <span>{{ authService.currentUser()?.loses }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-column flex-grow-1 justify-content-between">
    <div class="nav-main">
      <ul>
        <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          <i class="pi pi-home"></i
          ><span class="d-none d-lg-block">Dashboard</span>
        </li>
        <li
          [routerLink]="['/historia-spotkań']"
          routerLinkActive="router-link-active"
        >
          <i class="pi pi-history"></i
          ><span class="d-none d-lg-block">Historia spotkań</span>
        </li>
        <li [routerLink]="['/ranking']" routerLinkActive="router-link-active">
          <i class="pi pi-chart-bar"></i
          ><span class="d-none d-lg-block">Ranking</span>
        </li>
        <li [routerLink]="['/krol-dnia']" routerLinkActive="router-link-active">
          <i class="pi pi-crown"></i
          ><span class="d-none d-lg-block">Król dnia</span>
        </li>
      </ul>
    </div>

    <div class="nav-bottom">
      <ul>
        <li
          [routerLink]="['/ustawienia']"
          routerLinkActive="router-link-active"
        >
          <i class="pi pi-cog"></i
          ><span class="d-none d-lg-block">Ustawienia</span>
        </li>
        <li (click)="logout()">
          <i class="pi pi-sign-out"></i
          ><span class="d-none d-lg-block">Wyloguj się</span>
        </li>
      </ul>
    </div>
  </div>
</div>
