<div class="flex flex-column gap-3">
  <div class="sidebar">
    <div class="logo">
      <div class="flex flex-column justify-content-center">
        <div class="p-3 flex justify-content-center">
          <img src="../../../assets/images/logo.png" alt="logo" />
        </div>
        <p class="username">Nazwa użytkownika</p>
      </div>
    </div>
    <div>
      <div class="flex flex-column justify-content-center pb-3">
        <div class="title">Rekord</div>
        <div class="flex justify-content-center align-items-center gap-1">
          <div class="win-record"><span>13</span></div>

          <div class="lose-record"><span>5</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">Menu: Dashboard (zaznaczony), Historia meczy</div>

  <div class="sidebar">Ustawienia Wyloguj</div>
</div>
