<div class="king-content">
  <div class="header">
    <div class="title">Utwórz wydarzenie</div>
  </div>

  <div class="content py-3">
    <div class="row py-5">
      <div class="col-lg-12 d-flex justify-content-center">
        <app-form-submit-btn
          (btnClicked)="openAddMatchDialog()"
          title="Dodaj nowy wynik"
        ></app-form-submit-btn>
      </div>
    </div>
    <div class="row py-3">
      <div class="match-list">
        @for (match of matchesList; track $index) {
        <app-match [kingOfTheDay]="true" [match]="match"></app-match>
        }@if (matches.length > 5) {
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="matches.length"
        />
        }
      </div>
    </div>
    @if (matches.length) {
    <div class="row py-3">
      <div class="col-lg-12 d-flex justify-content-center gap-3">
        <app-form-submit-btn
          (btnClicked)="openKingOfTheDayLive()"
          title="Tabela na żywo"
        ></app-form-submit-btn>
        <app-form-submit-btn
          (btnClicked)="saveKingOfTheDay()"
          title="Zapisz"
        ></app-form-submit-btn>
      </div>
    </div>
    }
  </div>
</div>
