<div class="row py-5">
  <div class="players-list">
    @for (player of players; track $index) {
    <div class="content">
      <div [className]="$index + 1 === 1 ? 'match-gold' : 'match-average'">
        <div class="player">
          <div class="player-position">
            <span>{{ $index + 1 }}</span>
          </div>
          <div class="player-logo">
            <img
              [src]="
                player.profileImg === undefined
                  ? '../../../../assets/images/profile.png'
                  : player.profileImg
              "
              alt="logo"
            />
          </div>
          <div class="player-name d-none d-lg-block">
            {{ player.username }}
          </div>
          <div class="result">
            <div class="flex justify-content-end align-items-center px-5">
              <div class="win-record">
                <span>{{ player.kingOfTheDayCoutWins }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="flex flex-column justify-content-center mt-3">
      <div class="flex justify-content-center align-items-center">
        <app-form-submit-btn
          (btnClicked)="close()"
          title="Zamknij"
        ></app-form-submit-btn>
      </div>
    </div>
  </div>
</div>
