<div class="dashboard-content">
  <div class="header">
    <div class="title">Dashboard</div>
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="logo" />
    </div>
  </div>

  <div class="content py-3">
    <div class="row py-5">
      <div class="col-lg-12 d-flex justify-content-center">
        <app-form-submit-btn
          (btnClicked)="openAddMatchDialog()"
          title="Dodaj nowy wynik"
        ></app-form-submit-btn>
      </div>
    </div>
    <div class="row py-5">
      <div class="match-list">
        <div class="title">Ostatnie spotkania</div>
        <app-match></app-match>
        <app-match></app-match>
      </div>
    </div>
  </div>
</div>
