<div class="form">
  <div class="form-content">
    <div class="blur-background">
      <div class="logo">
        <img src="../../../../assets/images/logo.png" alt="logo" />
        <div class="title">Zapomniałem hasło</div>
      </div>
      <form
        [formGroup]="form"
        class="flex flex-column align-items-center gap-5 my-3 pt-5"
      >
        <div class="flex flex-column w-50 f-control">
          <input
            id="email"
            type="text"
            pInputText
            class="f-control-input"
            formControlName="email"
            autocomplete="off"
            placeholder=" "
          />
          <label for="email" class="f-control-label">Email</label>
        </div>
      </form>
      <div class="flex flex-column justify-content-center">
        <div class="flex m-auto justify-content-center w-50">
          <div (click)="navigateToLogin()" class="cursor-pointer link-btn">
            Powrót
          </div>
        </div>
        <div class="flex justify-content-center align-items-center py-5">
          <app-form-submit-btn
            title="Przypomnij"
            (btnClicked)="save()"
          ></app-form-submit-btn>
        </div>
      </div>
    </div>
  </div>
</div>
