<div class="content">
  <div [className]="match!.win ? 'match-win' : 'match-lose'">
    <div class="player">
      <div class="player-logo">
        <img
          [src]="
            match!.you!.profileImg === undefined
              ? '../../../../assets/images/profile.png'
              : match!.you!.profileImg
          "
          alt="logo"
        />
      </div>
      <div class="player-name">{{ match!.you!.username }}</div>
    </div>
    <div class="result">
      <div class="flex justify-content-center align-items-center gap-1">
        <div class="win-record">
          <span>{{ match!.yourResult }}</span>
        </div>
        <div class="lose-record">
          <span>{{ match!.rivalResult }}</span>
        </div>
      </div>
    </div>
    <div class="rival">
      <div class="rival-name">{{ match!.rival!.username }}</div>
      <div class="rival-logo">
        <img
          [src]="
            match!.rival!.profileImg === undefined
              ? '../../../../assets/images/profile.png'
              : match!.rival!.profileImg
          "
          alt="logo"
        />
      </div>
    </div>
  </div>
</div>
