.content {
  display: flex;
  justify-content: center;
  width: 100%;

  .match-win {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px solid rgb(41, 180, 41);
    border-radius: 30px 30px 30px 30px;
    background: rgba(41, 180, 41, 0.25);

    .player {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .player-logo {
        width: 10%;
        img {
          border-radius: 50%;
          height: 57px;
          width: 57px;
          object-fit: cover;
        }
      }

      .player-name {
        text-align: center;
        width: 80%;
        font-size: 1rem;
      }
    }

    .rival {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .rival-name {
        text-align: center;
        width: 80%;
        font-size: 1rem;
      }

      .rival-logo {
        display: flex;
        justify-content: end;
        width: 20%;
        img {
          border-radius: 50%;
          height: 57px;
          width: 57px;
          object-fit: cover;
        }
      }
    }

    .result {
      padding: 0.25rem;
      .lose-record {
        background-color: rgb(221, 30, 30);
        font-size: 1.125rem;
        font-weight: bold;
        border-radius: 0.25rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.5rem;
        }
      }

      .win-record {
        background-color: rgb(41, 180, 41);
        width: 2rem;
        font-size: 1.125rem;
        height: 2rem;
        font-weight: bold;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  .match-lose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px solid rgb(221, 30, 30);
    border-radius: 30px 30px 30px 30px;
    background: rgba(221, 30, 30, 0.25);

    .player {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .player-logo {
        width: 10%;
        img {
          border-radius: 50%;
          height: 57px;
          width: 57px;
          object-fit: cover;
        }
      }

      .player-name {
        text-align: center;
        width: 80%;
        font-size: 1rem;
      }
    }

    .rival {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .rival-name {
        text-align: center;
        width: 80%;
        font-size: 1rem;
      }

      .rival-logo {
        display: flex;
        justify-content: end;
        width: 20%;
        img {
          border-radius: 50%;
          height: 57px;
          width: 57px;
          object-fit: cover;
        }
      }
    }

    .result {
      padding: 0.25rem;
      .lose-record {
        background-color: rgb(221, 30, 30);
        font-size: 1.125rem;
        font-weight: bold;
        border-radius: 0.25rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.5rem;
        }
      }

      .win-record {
        background-color: rgb(41, 180, 41);
        width: 2rem;
        font-size: 1.125rem;
        height: 2rem;
        font-weight: bold;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.nav-header {
  color: white;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .username {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .lose-record {
    background-color: rgb(221, 30, 30);
    font-weight: bold;
    border-radius: 0.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1.5rem;
    }
  }

  .win-record {
    background-color: rgb(41, 180, 41);
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1.5rem;
    }
  }
}
