<div class="matches-content">
  <div class="header">
    <div class="title">Ranking</div>
  </div>

  <div class="content py-3">
    <div class="row py-5">
      <div class="players-list">
        @for (player of players; track $index) {
        <div class="content">
          <div [className]="$index + 1 === 1 ? 'match-gold' : 'match-average'">
            <div class="player">
              <div class="player-position">
                <span>{{ $index + 1 }}</span>
              </div>
              <div class="player-logo">
                <img
                  [src]="
                    player.profileImg === undefined
                      ? '../../../../assets/images/profile.png'
                      : player.profileImg
                  "
                  alt="logo"
                />
              </div>
              <div class="player-name d-none d-lg-block">
                {{ player.username }}
              </div>
              <div class="result">
                <div
                  class="flex justify-content-center align-items-center gap-3"
                >
                  <div
                    class="flex justify-content-center align-items-center gap-1"
                  >
                    <div class="win-record">
                      <span>{{ player.wins }}</span>
                    </div>
                    <div class="lose-record">
                      <span>{{ player.loses }}</span>
                    </div>
                  </div>
                  <div
                    class="win-ratio"
                    [innerHTML]="getWinRatio(player) + '%'"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
