<div class="main">
  <div class="background-blur">
    <div class="content">
      <div class="paddle">
        <div class="solid">
          <div class="surface"></div>
          <div class="hold">
            <div class="top"></div>
            <div class="transition"></div>
            <div class="handle"></div>
          </div>
        </div>
        <div class="wiggly">
          <div class="string"></div>
          <div class="ball"></div>
        </div>
      </div>
    </div>
  </div>
</div>
